<!DOCTYPE html>
<html>
<head>
  <title>SmsCheck</title>
  <%= stylesheet_link_tag    "sms_check/application", media: "all" %>
  <%= javascript_include_tag "sms_check/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
